:root {
  --baggrundsfarve: #1b1b1b;
  --sekundaerfarve: #1e1c1c;
  --tredjefarve: #20232c;
  --accentfarve: #f5dd98;
  --tekstfarve: #ffffff;
  --tekstfarve2: #1b1b1b;
  --headerSize: calc(2.5rem + 1.5vw);
  --pFont: "Oswald", sans-serif;
  --headerFont: druk, sans-serif;
  --loadBackground: #303032;
  --loadLight: #f8f8f8;
  --pLineHeight: calc(1.3em + 0.5vw);
  --headerLineHeight: calc(0.8em + 1vw);
  --pSize: calc(0.75em + 0.4vw);
  --headerSpacer: 110px;
}

/*----- FORSIDE START Computer version display none ------*/
.nyKollektion {
  display: none;
}

.nyKollektionTekst {
  display: none;
}

.tabletNonePicture {
  display: none;
}

.nyKollektionTabletXl {
  display: flex;
  justify-content: center;
  color: var(--tekstfarve);
}

.tabletXlOverskrift {
  font-size: 80px;
  font-family: var(--headerFont);
  letter-spacing: 3px;
  margin-top: 20px;
}

.tabletKollektionPicture {
  display: flex;
}

.TabletNyKollektionTekst {
  display: block;
  background-image: linear-gradient(#85868c, 65%, #f5dd98);
  background-image: -o-linear-gradient(#85868c, 65%, #f5dd98);
  background-image: -moz-linear-gradient(#85868c, 65%, #f5dd98);
  background-image: -webkit-linear-gradient(#85868c, 65%, #f5dd98);
  background-image: -ms-linear-gradient(#85868c, 65%, #f5dd98);
}

.TabletNyKollektionTekst h2 {
  margin-top: 10%;
  font-family: var(--headerFont);
  font-size: calc(1.5rem + 1.5vw);
  color: var(--tekstfarve2);
}

.TabletNyKollektionTekst p {
  margin-top: 6%;
  text-align: left;
  font-size: ps;
  color: var(--tekstfarve2);
  margin-left: 10%;
  margin-right: 10%;
  font-family: var(--pFont);
  font-weight: 300;
  opacity: 75%;
  line-height: calc(1.3em + 0.5vw);
}

.nyKollektionKnap {
  margin-bottom: 20px;
}

.news {
  margin-left: 100px;
}

.newsArtikel .artikel-img::before {
  position: absolute;
  left: 20px;
  top: 0px;
  width: 80%;
  height: 100%;
}

.artikelOverskrift {
  top: calc(100% + 10px);
  right: calc(0% - 10px);
}

.artikelHeaderForside {
  top: calc(101% - 10px);
  right: calc(0% - 10px);
  font-size: 23px;
}

.artikelBtn {
  top: calc(102% - 10px);
  right: calc(0% - 10px);
}
.artikel2-img {
  margin-top: 70px;
}

.newsArtikel .artikel2-img::before {
  position: absolute;
  left: 20px;
  top: 0px;
  width: 80%;
  height: 100%;
}

.artikelOverskrift2 {
  top: calc(100% + 10px);
  right: calc(0% - 10px);
}

.artikelHeaderForside2 {
  top: calc(101% - 10px);
  right: calc(0% - 10px);
  font-size: 23px;
}

.artikelBtn2 {
  top: calc(102% - 10px);
  right: calc(0% - 10px);
}

.artikel3-img {
  margin-top: 70px;
}

.newsArtikel .artikel3-img::before {
  position: absolute;
  left: 20px;
  top: 0px;
  width: 80%;
  height: 100%;
}

.artikelOverskrift3 {
  top: calc(100% + 10px);
  right: calc(0% - 10px);
}

.artikelHeaderForside3 {
  top: calc(101% - 10px);
  right: calc(0% - 10px);
  font-size: 23px;
}

.artikelBtn3 {
  top: calc(102% - 10px);
  right: calc(0% - 10px);
}

.artikel4-img img {
  width: 80%;
}

.artikelOverskrift4 {
  top: calc(103% - 10px);
  left: calc(2% - 10px);
}

.artikelHeaderForside4 {
  top: calc(101% - 10px);
  left: calc(2% - 10px);
}

.artikelHeaderForside4 span {
  display: table;
}

.artikelBtn4 {
  position: relative;
  top: calc(101% - 10px);
  left: calc(2% - 10px);
}

.spacerForside {
  margin-bottom: 350px;
}

/*----------- FORSIDE SLUT ----------*/

/*----------- FOOTER START ----------*/

.sponsorLogo {
  margin-bottom: 20px;
}
/*----------- FOOTER SLUT ----------*/

/*---------- NYHEDER START ----------*/

/*---------- Nyheder SECTION  ----------*/

.artikel-citattegn {
  width: 25px;
  height: 25px;
}

.artikel-udtalelse {
  font-size: 26px;
  line-height: 30px;
}

/*---------- NYESTE NYHEDER - SEKTION  ----------*/

.sidstNyt-dato {
  font-size: 14px;
  margin-top: 8px;
}

.sidstNyt-titel {
  font-size: 20px;
}

.sidstNyt-Btn {
  margin-top: 1px;
}
/*----------NYHEDER SLUT ----------*/

/*----- BESTYRELSE START -----*/
.card-space {
  margin-bottom: 25px;
}

.card-bestyrelse {
  width: 19rem;
}

/*----- BESTYRELSE SLUT  -----*/

/*----------OM START  ----------*/

.omLogo {
  width: 70px;
  height: 70px;
  left: calc(50% - 35px);
  top: calc(50% - 10px);
  font-size: 16px;
}


/*----------OM SLUT  ----------*/

.footerLogo {
  width: 100%;
}


/*----------HOLDET START----------*/

.img-title h5{
  font-size: calc(0.8em + 0.6vw);;
}

/*----------HOLDET SLUT----------*/
